.background {
    background-image: url(./bg-img.jpeg);
}

.siteName {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: white;
    margin-left: 1%;
    margin-top: 1%;
}

.welcome {
    font-family: 'Raleway', sans-serif;
    color: gray;
    font-weight: 200;
    font-size: 15px;
    margin-left: 10%;
    margin-top: 18%;
}

.main {
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    margin-left: 10%;
}

.button {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: xx-small;
    background-color: transparent;
    color: transparent;
    border: 1px solid white;   
}

.butext {
    color: #fff;
}